<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss') %>
        <title>Sign Up</title>
        <style>
            body{
                box-sizing: border-box;
                background-color: rgba(250, 235, 215, 0.13);
            }
            .loginpg{
                margin: auto;
                height: 20rem !important;
                width: 40%;
                padding: 2rem;
                display: block;
                /* flex-wrap: nowrap; */
                background-color: white;
                justify-content: space-between;
            }
            .formpg{
                padding: 2rem;
                /* margin: 1rem; */
            }
            a{
                text-decoration: none;
    
            }
            a:hover{
                color: brown;
            }
            .btnn{
                font: 800;
                padding-left: 3rem !important;
                padding-right: 3rem !important;
            }
            .formdiv{
                /* height: 5rem; */
                width: 100%;
            }
        </style>
</head>

<body>

    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <!-- <h3>Register a new user..</h3> -->
        <div class="d-flex align-items-center justify-content-center formdiv">
            <form action="/sign-up" method="post" class="w-25 p-4 border border-primary rounded loginpg">
                <div class="form-group p-3">
                    <label for="user-name">Enter Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required />
                </div>
                <div class="form-group p-3">
                    <label for="user-username">Enter Username</label>
                    <input type="text" name="username" class="form-control" id="username" required />
                </div>
                <div class="form-group">
                    <label for="user-password">Enter Password</label>
                    <input type="password" name="password" class="form-control" id="password" required />
    
                    <button type="submit" class="btn btn-primary mt-2 mh-auto">Sign Up</button>
                    <span class="ml-2">Already have an account? <a href="/login">Login</a> </span>
                </div>
            </form> 
        </div>
    </div>

</body>

</html>